html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #E0FFFF;
}

.body-wrapper {
  background-color: white;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  box-shadow: 0px 0px 10px 10px grey;
}

form {
  border: solid #f7f7f9;
  padding: 2rem;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#toast-container {
  opacity: 1;
}

.toast {
  position: absolute;
  top: 2em;
  right: 2em;
  width: inherit;
  min-width: 150px;
}

.toast .toast-header,
.toast .toast-body {
  background-color: #ffffff;
}